#notification {
  margin-bottom: 1em;
}

.error {
  color: red;
  font-weight: 600;
  background-color: white;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 1px 1px 6px rgb(167, 167, 167);
}

.success {
  color: green;
}
