.notification-container {
  display: flex;
  justify-content: center;
}

#notification {
  margin-bottom: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: white;
  display: inline-flex;
  align-items: center;
}

.error {
  background-color: #f44336;
}

.success {
  background-color: #4caf50;
}

.info {
  background-color: #2196f3;
}
