.header {
    display: flex;
    height: fit-content;
    padding: 30px 20px;
    width: auto;

    justify-content: space-between;
    align-items: center;

    background: #2980B9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9ed4fa, #2952b9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9ed4fa, #2952b9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-bottom: 20px;
    font-size: .8em;

    box-shadow: 1px 1px 8px rgb(167, 167, 167);
}

.playlist-loader {

    app-file-reader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        width: fit-content;
        height: 220px;
        padding: 20px;
        margin: 40px auto;

        border-radius: 5px;
        background: #2980B9;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #9ed4fa, #6185e2);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #9ed4fa, #6185e2);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        box-shadow: 1px 1px 8px rgb(184, 184, 184);
    }
}

.github-link {
    position: relative;
    left: 65%;
}

table {
    background-color: #d6adf1;
    border: 1px solid rgb(202, 202, 202);
}

app-playlist-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.playlist-load-progress {
    text-align: center;
}