<h1>{{title}}</h1>

<div>
  <p *ngIf="spotifyAccessToken; else logIntoSpotify">Spotify Access Token: {{spotifyAccessToken}}</p>
  <ng-template #logIntoSpotify>
    <p><a href="{{spotifyAuthUrl}}">Grant</a> access to your Spotify account.</p>
  </ng-template>

  <input (change)="handleFileInput($event)" type="file" id="fileInput"/>
</div>

<h2>Songs <span *ngIf="playlistName">- {{playlistName}}</span></h2>

<table id="song-data">
  <tr *ngFor="let song of songs">
    <td class="song-title">{{song.title}}</td>
    <td class="song-artist">{{song.artist}}</td>
  </tr>
</table>

