<h1 mat-dialog-title>Song Details</h1>

<div mat-dialog-content>
  <strong>Title:</strong> {{originalSong.title}}
  <br/>
  <strong>Artist:</strong> {{originalSong.artist}}

  <div>
    <label for="song-title">Title:</label>
    <input id="song-title" type="text" [(ngModel)]="song.title"/>

    <label for="song-artist">Artist:</label>
    <input id="song-artist" type="text" [(ngModel)]="song.artist"/>

    <button (click)="handleSearchClick()">Search</button>
  </div>

  <div *ngIf="relatedSongs" id="search-results">
    <h2>Search Results</h2>

    <table id="song-data">
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Link</th>
        <th>Preview</th>
      </tr>
      <tr *ngFor="let relatedSong of relatedSongs" (click)="handleRelatedSongClick(relatedSong)">
        <td class="song-title">
          {{relatedSong.title}}
        </td>
        <td class="song-artist">
          {{relatedSong.artist}}
        </td>
        <td class="song-link">
          <a href="{{relatedSong.externalUrl}}" target="_blank" (click)="$event.stopPropagation()">[Spotify]</a>
        </td>
        <td class="song-preview">
          <audio controls *ngIf="relatedSong.previewUrl; else noPreview">
            <source src="{{relatedSong.previewUrl}}">
          </audio>
          <ng-template #noPreview>no preview available</ng-template>
        </td>
      </tr>
    </table>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-dialog-close>Close</button>
</div>
