#song-data {
  border-collapse: collapse;
}

#song-data, #song-data td {
  border: 1px solid black;
}

#song-data td {
  padding: 5px;
}

#song-data tr:nth-child(odd) {
  background-color: lightgray;
}

#song-data tr:not(:first-child):hover {
  background-color: lightblue;
  cursor: pointer;
}
