/* You can add global styles to this file, and also import other style files */

input {
  margin-top: 1em;
  margin-right: 1em;
}

label + progress, label + input[type=text] {
  margin-left: 0.5em;
}

table input {
  margin: 0;
}

input[type=text] {
  width: 20em;
}
