/* You can add global styles to this file, and also import other style files */

.note {
  font-style: italic;
}

input {
  margin-top: 1em;
  margin-right: 1em;
}

label + progress,
label + input[type='text'] {
  margin-left: 0.5em;
}

table {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

table input {
  margin: 0;
}

input[type='text'] {
  width: 20em;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding-left: 1em;
  padding-top: 1em;
}

div {
  margin-top: 0.5em;
}
