name: Deploy

on: 
  workflow_dispatch:

  push:
    tags:
      - 'v*'

jobs:
  staging:
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: https://stg.nickwanders.com/projects/ng-spotify-importer/
    env:
      ENVIRONMENT: production,staging # https://github.com/angular/angular-cli/issues/17402
      CHROME_BIN: ${{ github.workspace }}/chrome-linux/chrome
      NG_SPOTIFY_IMPORTER__DEPLOYMENT_HOST: stg.nickwanders.com
      NG_SPOTIFY_IMPORTER__DEPLOYMENT_USERNAME: ${{ secrets.NG_SPOTIFY_IMPORTER__DEPLOYMENT_USERNAME }}
      NG_SPOTIFY_IMPORTER__DEPLOYMENT_PASSWORD: ${{ secrets.NG_SPOTIFY_IMPORTER__DEPLOYMENT_PASSWORD }}
      NG_SPOTIFY_IMPORTER__DEPLOYMENT_PORT: 22
      NG_SPOTIFY_IMPORTER__DEPLOYMENT_HOME_PATH: /home/nickwanders/stg.nickwanders.com/
      NG_SPOTIFY_IMPORTER__DEPLOYMENT_PROJECT_PATH: projects/ng-spotify-importer/
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - name: Install NPM v7
        run: npm install -g npm@7
      - name: Install Chromium
        run: | 
          curl https://www.googleapis.com/download/storage/v1/b/chromium-browser-snapshots/o/Linux_x64%2F857949%2Fchrome-linux.zip?alt=media -o chrome-linux.zip &&
          unzip chrome-linux.zip
      - name: Cache Node Modules
        uses: actions/cache@v2
        env:
          CACHE-NAME: cache-node-modules
        with:
          path: ${{ github.workspace }}/node_modules
          key: ${{ runner.os }}-build-${{ env.CACHE-NAME }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.CACHE-NAME }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Inject Version
        if: github.ref_type == 'tag'
        run: |
          npm version:update &&
          npm version:inject
      - name: Deploy to Staging
        run: |
          npm install &&
          npm run deploy
      - name: Run Deploy Tests
        run: npm run deploy:test
      - name: Save Test Results
        uses: actions/upload-artifact@v3
        with:
          name: e2e-test-results
          path: e2e/output/
          if-no-files-found: ignore
