name: CI

on:
  pull_request:
    branches: master

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      CHROME_BIN: ${{ github.workspace }}/chrome-linux/chrome
      PRIMARY_SPOTIFY_USERNAME: ${{ secrets.PRIMARY_SPOTIFY_USERNAME }}
      PRIMARY_SPOTIFY_PASSWORD: ${{ secrets.PRIMARY_SPOTIFY_PASSWORD }}
      SPOTIFY_CLIENT_ID: ${{ secrets.SPOTIFY_CLIENT_ID }}
      SPOTIFY_CLIENT_SECRET: ${{ secrets.SPOTIFY_CLIENT_SECRET }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - name: Install Chromium
        run: | 
          curl https://www.googleapis.com/download/storage/v1/b/chromium-browser-snapshots/o/Linux_x64%2F857949%2Fchrome-linux.zip?alt=media -o chrome-linux.zip &&
          unzip chrome-linux.zip
      - name: Cache Node Modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Build and Start Local Test Server
        run: |
          npm install &&
          npm run start &&
          curl --retry 10 --retry-connrefused http://localhost:4200 > /dev/null 2>&1
      - name: Run E2E Tests
        run: npm run e2e
